---
import { type CollectionEntry, getCollection, render } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  const reading = await getCollection("reading");
  return reading.map((reading) => ({
    params: { slug: reading.id },
    props: reading,
  }));
}
type Props = CollectionEntry<"reading">;

const reading = Astro.props;
const { Content } = await render(reading);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={SITE_TITLE}
      description={SITE_DESCRIPTION}
      image={reading.data.heroImage}
    />
  </head>
  <body>
    <Header />
    <main>
      <article
        class="w-full mt-16 px-12 md:px-16 lg:px-8 md:max-w-6xl md:mx-auto min-h-[70vh]"
      >
        <h1 class="mt-4 text-4xl font-semibold">{reading.data.title}</h1>
        <div class="mt-4 flex gap-2 text-sm">
          <p>By Koso Bilegsaikhan</p>
          <p>•</p>
          <p>
            Published {
              reading.data.pubDate.toLocaleDateString("en-US", {
                month: "short",
                year: "numeric",
              })
            }
          </p>
        </div>

        <div class="mt-4 overflow-hidden rounded-lg w-full">
          {
            reading.data.heroImage && (
              <Image
                width={1000}
                height={500}
                src={reading.data.heroImage}
                alt={reading.data.title}
                class="object-contain"
              />
            )
          }
        </div>
        <div class="mt-16"></div>
        <div class="md-content">
          <Content />
        </div>
      </article>
      <div class="mt-16"></div>
    </main>
    <Footer />
  </body>
</html>
