---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import { getCollection } from "astro:content";
import Footer from "../components/Footer.astro";
import { Image } from "astro:assets";
import profileImage from "../assets/profile.png";

const projects = (await getCollection("projects"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 3);

console.log(projects);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="w-full">
      <div class="w-full mt-32 px-16 lg:px-4 md:max-w-6xl md:mx-auto">
        <div class="flex flex-col items-center md:flex-row md:items-start">
          <div class="w-full lg:w-2/3">
            <h3 class="text-lg">ABOUT</h3>
            <h1 class="text-4xl font-bold">Koso Bilegsaikhan</h1>
            <div class="flex flex-col gap-4 mt-4">
              <p>
                I'm a Full-Stack Engineer with over 5 years of professional
                experience based in Sydney, NSW. My red flag is reading a
                sci-fi, cautionary tale and saying: I kinda wanna make it.
              </p>
              <p>
                I know a little bit of everything, but know a bunch about
                software architecture, backend and DevOps. Followed up by web,
                mobile, AI, SaaS, Cloud, Infra etc. If you can name it, I
                probably know at least a little about it. If I'm quiet for any
                extended amount of time, that's probably me researching about it
                until I seem like I know a bit about it.
              </p>
            </div>
            <div class="mt-8"></div>
          </div>
          <div class="hidden lg:flex lg:w-1/3 justify-end">
            <Image
              src={profileImage}
              alt="Profile"
              width={300}
              height={300}
              class="rounded-full"
            />
          </div>
        </div>
        <h3 class="text-lg">PROJECTS</h3>
        <div class="flex justify-between items-end">
          <h1 class="text-4xl font-bold">Project Showcase</h1>
          <a
            href="/projects"
            class="text-sm text-gray-500 hover:underline align-bottom"
            >View All</a
          >
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 mt-8">
          {
            projects.map((project, idx) => (
              <div
                class:list={[
                  "bg-gray-900 hover:scale-103 transition-all duration-200 rounded-2xl overflow-hidden flex flex-col",
                  idx === 2 && "md:hidden lg:flex",
                ]}
                onclick={`window.location.href = '/projects/${project.id}'`}
              >
                <div class="h-[250px] w-full bg-gray-800 flex justify-center items-center">
                  <Image
                    width={1000}
                    height={250}
                    src={
                      (
                        {
                          src: project.data.heroImage,
                        } as unknown as ImageMetadata
                      ).src ??
                      "https://stantyan.com/assets/blog/subscription-metrics/subscription-metrics-preview.CdQwwudZ_zWVAP.webp"
                    }
                    alt={project.data.title}
                    class="object-cover"
                  />
                </div>
                <div class="p-6 flex flex-col justify-between gap-2">
                  <div class="flex justify-between items-center">
                    <p>{project.data.type || "PROJECT"}</p>
                    <p>MAR 2025</p>
                  </div>
                  <h1 class="text-2xl font-medium">{project.data.title}</h1>
                  <p class="font-light">{project.data.description}</p>
                </div>
              </div>
            ))
          }
        </div>
        <div class="mt-16"></div>
        <h3 class="text-lg">WRITING</h3>
        <div class="flex justify-between items-end">
          <h1 class="text-4xl font-bold">Blog posts</h1>
          <a
            href="/writing"
            class="text-sm text-gray-500 hover:underline align-bottom"
            >View All</a
          >
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 mt-8">
          {
            projects.map((project, idx) => (
              <div
                class:list={[
                  "bg-gray-900 hover:scale-103 transition-all duration-200 rounded-2xl overflow-hidden flex flex-col",
                  idx === 2 && "md:hidden lg:flex",
                ]}
                onclick={`window.location.href = '/projects/${project.id}'`}
              >
                <div class="h-[250px] w-full bg-gray-800 flex justify-center items-center">
                  <Image
                    width={1000}
                    height={250}
                    src={
                      (
                        {
                          src: project.data.heroImage,
                        } as unknown as ImageMetadata
                      ).src ??
                      "https://stantyan.com/assets/blog/subscription-metrics/subscription-metrics-preview.CdQwwudZ_zWVAP.webp"
                    }
                    alt={project.data.title}
                    class="object-cover"
                  />
                </div>
                <div class="p-6 flex flex-col justify-between gap-2">
                  <div class="flex justify-between items-center">
                    <p>{project.data.type || "PROJECT"}</p>
                    <p>MAR 2025</p>
                  </div>
                  <h1 class="text-2xl font-medium">{project.data.title}</h1>
                  <p class="font-light">{project.data.description}</p>
                </div>
              </div>
            ))
          }
        </div>
        <div class="mt-16"></div>
        <h3 class="text-lg">READING</h3>
        <div class="flex justify-between items-end">
          <h1 class="text-4xl font-bold">Media Consumption</h1>
          <a
            href="/reading"
            class="text-sm text-gray-500 hover:underline align-bottom"
            >View All</a
          >
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 mt-8">
          {
            projects.map((project, idx) => (
              <div
                class:list={[
                  "bg-gray-900 hover:scale-103 transition-all duration-200 rounded-2xl overflow-hidden flex flex-col",
                  idx === 2 && "md:hidden lg:flex",
                ]}
                onclick={`window.location.href = '/projects/${project.id}'`}
              >
                <div class="h-[250px] w-full bg-gray-800 flex justify-center items-center">
                  <Image
                    width={1000}
                    height={250}
                    src={
                      (
                        {
                          src: project.data.heroImage,
                        } as unknown as ImageMetadata
                      ).src ??
                      "https://stantyan.com/assets/blog/subscription-metrics/subscription-metrics-preview.CdQwwudZ_zWVAP.webp"
                    }
                    alt={project.data.title}
                    class="object-cover"
                  />
                </div>
                <div class="p-6 flex flex-col justify-between gap-2">
                  <div class="flex justify-between items-center">
                    <p>{project.data.type || "PROJECT"}</p>
                    <p>MAR 2025</p>
                  </div>
                  <h1 class="text-2xl font-medium">{project.data.title}</h1>
                  <p class="font-light">{project.data.description}</p>
                </div>
              </div>
            ))
          }
        </div>
        <div class="mt-16"></div>
      </div>
    </main>
    <Footer />
  </body>
</html>
